.ContactUs {
  display: flex;
  flex-direction: column;
}

.ContactUs label {
  margin-bottom: 10px;
}

.ContactUs input,
.ContactUs select {
  padding: 5px;
  margin-bottom: 10px;
}

.custom-button {
  font-size: 12px;
  padding: 5px 5px;
}