.tag {
    text-align: center;
    color: green;
    margin: 2rem;
}

.puzzle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5%;
    text-align: center;
}

.jigsaw-puzzle {
    width: 60%;
    height: 100%;
    height: auto;
    border: none;
    margin: auto;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
}

.jigsaw-puzzle img {
    width: 60%;
    height: 110%;
    height: auto;
    border: none;
    margin: auto;
    box-shadow: 0 5px 10px 2px rgba(0, 0, 0, 0.25);
}


.puzzle button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d3d3d3;
    width: 50%;
    height: 70px;
    margin-left: 25%;
}

.buttonLink {
    text-decoration: none;
    color: black;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 3%;
}

.puzzle button:hover,
.buttonLink:hover {
    background-color: #11224D;
    color: #F7AD19;
}

.logoImg {
    display: flex;
    align-items: center;
    width: 20%;
    
}

.topBar {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0;
    margin-left: 25%;
}

.puzzle h1 {
    margin-top: 10%;
    font-size: xx-large;
}

.puzzle a {
    text-decoration: none;
    color: #11224D;
}

@media (max-width:720px) {
    .jigsaw-puzzle  {
        width: 100%;
    }

    .logoImg {
        scale:.8;
    }

    .topBar {
        margin-left: 1vh;
    }

    .puzzle h1 {
        font-size: 160%;
    }
}