
.table-setion {
  font-size: 120%;
  letter-spacing: 2px;
}

table {
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  height: 300px;
}

table td,
table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table-setion table tr:nth-child(even) {
  background-color: #f2f2f2;
}

table tr:hover {
  background-color: #ddd;
}

table th, tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #d4971e;
  color: white;
}

tbody tr {
  height: 70px;
}