.textCard {
    background-color: #2C599D;
    font-family: sans-serif;
    text-align: center;
    color: #F7AD19;
    font-size: 120%;
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 1.5;
    margin: 5% 25% 5% 25%;
    padding: .5% 7% .5% 7%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.695);
}

.textCardButton {
    background-color: #f7ad1991;
    margin-left:100%;
}