body {
  margin: 0;
  color: #11224D;
  margin: 120px auto;
}

.dark {
  background-color: #333;
  color: #fff;
}

.dark table tr:nth-child(even) {
  background-color: #333;
  color: #fff;
}

.dark table tr:hover {
  background-color: #ffffff50;
}

.dark table a:visited {
  color: #9FE7F5;
}

.dark table a {
  color: #fff;
}

.dark table a:hover {
  color: #F98125;
}

