
.Footer {
    background-color: #429EBD;
    font-family: sans-serif;
    padding: 3vh;
    margin-top: 15vh;
}

.footerText {
    display: flex;
    justify-content: center;
    align-items: center; /* Added to vertically align content */
    font-size: 1.5rem;
    padding: 0 45px;
}

.footerContact,
.footerAbout {
    padding-top: 4vh;
    text-align: center; /* Added to center the text content */
}

.footerImg {
    width: 10%;
    max-width: 100px; /* Limiting the max width of the image */
    display: block; /* Ensuring the image is a block-level element */
    margin: 0 auto; /* Centering the image within its container */
}
