
.Footer {
    background-color: #429EBD;
    font-family: sans-serif;
    padding: 3vh;
    margin-top: 15vh;
}

.footerText {
    display: flex;
    justify-content: center;
    align-items: center; /* Added to vertically align content */
    font-size: 1.5rem;
    padding: 0 45px;
}

.footerContact,
.footerAbout {
    padding-top: 2vh;
    text-align: center; /* Added to center the text content */
}

.footerImg {
    width: 10%;
    max-width: 100px; /* Limiting the max width of the image */
    display: block; /* Ensuring the image is a block-level element */
    margin: 0 auto; /* Centering the image within its container */
}

@media(max-width: 767px) {

    .footerText {
        padding-left:5vh;
        padding-right:5vh;
        font-size: 1.15rem;
    }

    .footerContact {
        padding-right:5vh;
    }

    .footerAbout {
        padding-left:2vh;
    }

    .footerImg {
        width: 10vh;
        padding-right: 2vh;
    }
}
